.NewGame {
  background-color: #ff7043;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.NewGame:focus {
	outline-color: #00bfa5;
}
